/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
header*/

body {
    margin: 1vw 7vw 1vw 7vw;
    text-align: center;

}

header {
    display: flex;
    padding: 1vw 10vw 1vw 1vw;
}

header ul {
    display: flex;
    padding: 0 2vw 0 48vw;
}

header li {
    padding: 0 0.8vw 0 0.8vw;
}

/*
main*/
section.solution {
    background-color: #C4C4C4;
    border-radius: 16px;
    width: 1470px;
    height: 535px;
    display: flex;
}

section div.partedostexto {
    width: 680px;
    height: 293.27px;
}

section.solution h1 {
    font-size: 2.3rem;
    width: 500.7px;
    height: 60.5px;
    margin: 7vw 4vw 0vw 4vw;
    color: #343F52;
}

section.solution span {
    color: #F857A6;
}

section.solution p {
    font-size: 1.2rem;
    color: #60697B;
    width: 464.7px;
    height: 62.5px;
    margin: 3vw 4vw 1vw 4vw;
}

section div.imagem {
    width: 444px;
    height: 453px;
    margin: 4.4vw 0 0 3.5vw;
}

section.solution button {
    width: 151.47px;
    height: 58.89px;
    margin: 0 0 0 4vw;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #F857A6;
}

section.CheckOut{
    text-align: center;
    margin: 9vw 0 0 0;
    
}
section.CheckOut h2{
    font-size: 2rem;
    width: 704.72px;
    height: 93.5px;
    color: #343F52;
    margin: 0 2vw 0 23vw;
}
div.ligula p{
    font-size: 1rem;
    padding: 1vw 0 1vw 0;
    text-align: left;
}
div.Nullam p{
    font-size: 1rem;
    padding: 1vw 0 1vw 0;
    text-align: left;
}
div.ligula {
    padding: 0 2vw 0 2vw;
}
div.alinhar{
    display:flex ;
    padding: 0 0 0 5.9vw;
    margin: 2vw 4vw 0 10vw;
}
div.Nullam li{
    color: #AAB0BC;
}
div.Nullam ul{
    display: flex;
}
div.ligula ul{
    display: flex;
    color: #AAB0BC;
}
.parterosa {
    text-align: center;
    background-color: #F9DBF7;
    padding: 4vw 10vw 4vw 10vw;   
    border-radius: 15px;
    margin: 4vw 0 0 0;
}
.parterosa h3{
    color: #F857A6;
    padding: 1vw 0 2vw 0;
    size: 16px;
}
.parterosa p {
    size: 2rem;
}
.parterosa button{
    width: 151.47px;
    height: 58.89px;
    margin: 1.5vw 0 0 0vw;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #F857A6;
}
footer{
    text-align: center;
    margin: 2vw 0 0 0;
}